<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819307582695-ot33b7rcbpftd3nqbm1k5o87debrg3rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819307582695-ot33b7rcbpftd3nqbm1k5o87debrg3rv</string>
	<key>API_KEY</key>
	<string>AIzaSyD0CphvMOpoBNUdHPm8_iynxaP8xS0SHh8</string>
	<key>GCM_SENDER_ID</key>
	<string>819307582695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.jobsApp</string>
	<key>PROJECT_ID</key>
	<string>henlo-c1eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>henlo-c1eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819307582695:ios:d4d72acba9d40e2cccbe42</string>
	<key>DATABASE_URL</key>
	<string>https://henlo-c1eaa.firebaseio.com</string>
</dict>
</plist>